@import "//at.alicdn.com/t/c/font_4778596_f9wt4ae8ym5.css";

.iconfont {
    font-family: "iconfont" !important;
    /* 这里可以自定义图标大小 */
    font-size: 3em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

svg.social_icon {
  width: 1.20em;
  height: 1.20em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

svg.icon {
    width: 1.28em;
    height: 1.28em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  svg.menu_icon {
    width: 1.28em;
    height: 1.28em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }